

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #e8e0ff;
}


/* Wide Header Banner */
.banner {
    width: 100%;
    height: 300px;
    background: linear-gradient(135deg, #7567ff, #c7b8ff);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
}


.banner h1 {
    font-size: 60px;
    margin: 0;
}


.banner p {
    font-size: 25px;
}


/* Main Content */
.container {
    width: 90%;
    margin: 40px auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
    border: 3px solid #6c63ff;
}


h2 {
    text-align: center;
    color: #4b3fcf;
    font-size: 35px;
}


/* Product Image */
.product-image {
    width: 70%;
    height: 350px;
    display: block;
    margin: 30px auto;
    border-radius: 20px;
    border: 5px solid #6c63ff;
}



/* Paragraph */
p {
    font-size: 20px;
    line-height: 1.6;
}



/* Table */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 30px;
}


th {
    background: #6c63ff;
    color: white;
    padding: 15px;
    font-size: 20px;
}


td {
    border: 1px solid #777;
    padding: 15px;
    text-align: center;
    font-size: 18px;
}



/* Promo Box */
.promo {

    margin-top: 30px;
    padding: 30px;
    background: #ffd6e7;
    border-radius: 20px;
    text-align: center;

}


.promo h2 {
    color: #d63384;
}



/* Button */
.button {

    display: block;
    width: 200px;
    text-align: center;
    margin: 30px auto;
    padding: 15px;
    background: #ff4d6d;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 22px;

}


.button:hover {

    background: #c9184a;

}



/* Footer */
footer {

    background: #4b3fcf;
    color: white;
    text-align: center;
    padding: 25px;
    font-size: 18px;

}


